@font-face{
    font-family: f1;
    src: url(../font/CreatoDisplay-Black.otf);
}

@font-face {
    font-family: f2;
    src: url(../font/DS-DIGIB.TTF);
}

body{
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(../img/bg.png);
    background-size: contain, cover;
    background-color: #F4F3DB;
}

#logocalcu{
    width: 130px;
}

#number, #signs, #equal{
    cursor: pointer;
}

header{
    background-image: linear-gradient(#F3A0C8, #F4F3DB, #F5F5F5);
    border-bottom: 1px solid #D1538F;
}


footer{
    background-image: linear-gradient( #F5F5F5, #F4F3DB, #F3A0C8);
    border-top: 1px solid #D1538F;
    width: 100%;
    height: 80px;
}

#submitted{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: x-small;
    padding-top: 40px;
}

#logo{
    display: center;
}


#shadow{
    width: 100%;
    border-radius: 16% 16% 44% 44%;
    box-shadow: 0px 7px 49px 21px #d9f9ff;
}

.battery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.batt{
    flex: 1 0 100px;
    height: 100px;
}

#logocalcu{
    padding-left: 20px;
}

/**smallest**/
@media only screen and (max-width: 600px){


    #calculator{
        width: 35%;
        align-content: center;
        /** alignment ng calcu**/
        margin: 5vw 44.5vw 5vw 21.5vw;
    }

    #calcuscreen{
        width: 98%;
        background-image: linear-gradient(to left, #FFD8DA, #FFD8DA, #FFD8DA, #FFE2E3, #FEF2F4 );
        padding: 0vw 0vw 0vw 0vw;
        border-right:  15px solid #d396a4;
        border-radius: 20% 20% 0% 0%;
        box-shadow: inset -24px -1px 40px -13px #DBB4B7;
    }
    
    #screen{
        background-color: #779A8C;
        border-top: 8px solid #C19D9D;
        border-left: 8px solid #C19D9D;
        border-right: 6px solid #FFDFE0;
        border-bottom: 6px solid #F6CFD2;
        width: 25vw;
        height: 5vw;
        border-radius: 10px 10px 10px 10px;
        font-size: 40px;
        font-family: f2;
        text-align: right;
    }

    #calcunum{
        width: 98%;
        border-right:  15px solid #d396a4;
        border-bottom:  15px solid #d396a4;
        background-image: linear-gradient(to left, #FFD8DA, #FFD8DA, #FFD8DA, #FFE2E3, #FEF2F4 );
        border-radius: 0% 0% 50% 50%;
        padding: 3vw 0vw 8vw 0vw;
        box-shadow: inset -24px -1px 40px -13px #DBB4B7;
    }

    #number{
        width: 30px;
        height: 20px;
        font-size: 10px;
        font-family: f1;
        background-image: linear-gradient(to right,#E7E6E0, #F6F2EF);
        border-radius: 10px;
        margin: 1px 2px 1px 2px;
        border-bottom: 4px outset #c6bbbc;
        border-right: 4px outset #c6bbbc;
    }

    #equal{
        width: 62px;
        height: 20px;
        font-size: 10px;
        font-family: f1;
        margin: 2px 0px 2px 6px;
        background-color: #fdd831;
        border-radius: 8px;
        border-bottom: 4px outset #CD888B;
        border-right: 4px outset #CD888B;
    }
    
    #signs{
        width: 30px;
        height: 20px;
        font-size: 10px;
        font-family: f1;
        margin: 1px 2px 1px 2px;
        background-color: #E3859B;
        color: #FEF2F4;
        border-radius: 8px;
        border-bottom: 4px outset #CD888B;
        border-right: 4px outset #CD888B;
    }
}

@media only screen and (min-width: 605px){



    #calculator{
        width: 35%;
        align-content: center;
        /** alignment ng calcu**/
        margin: 5vw 44.5vw 5vw 21.5vw;
    }

    #calcuscreen{
        width: 98%;
        background-image: linear-gradient(to left, #FFD8DA, #FFD8DA, #FFD8DA, #FFE2E3, #FEF2F4 );
        padding: 5vw 0vw 5vw 0vw;
        border-right:  15px solid #d396a4;
        border-radius: 20% 20% 0% 0%;
        box-shadow: inset -24px -1px 40px -13px #DBB4B7;
    }
    
    #screen{
        background-color: #779A8C;
        border-top: 8px solid #C19D9D;
        border-left: 8px solid #C19D9D;
        border-right: 6px solid #FFDFE0;
        border-bottom: 6px solid #F6CFD2;
        width: 25vw;
        height: 7vw;
        border-radius: 10px 10px 10px 10px;
        font-size: 45px;
        font-family: f2;
        text-align: right;
    }

    
    #calcunum{
        width: 98%;
        border-right:  15px solid #d396a4;
        border-bottom:  15px solid #d396a4;
        background-image: linear-gradient(to left, #FFD8DA, #FFD8DA, #FFD8DA, #FFE2E3, #FEF2F4 );
        border-radius: 0% 0% 50% 50%;
        padding: 3vw 0vw 8vw 0vw;
        box-shadow: inset -24px -1px 40px -13px #DBB4B7;
    }

    #number{
        width: 45px;
        height: 30px;
        font-size: 13px;
        font-family: f1;
        background-image: linear-gradient(to right,#E7E6E0, #F6F2EF);
        border-radius: 10px;
        margin: 1px 1px 1px 1px;
        border-bottom: 4px outset #c6bbbc;
        border-right: 4px outset #c6bbbc;
    }

    #equal{
        width: 80px;
        height: 30px;
        font-size: 15px;
        font-family: f1;
        margin: 2px 6px 2px 6px;
        background-color: #fdd831;
        border-radius: 8px;
        border-bottom: 4px outset #CD888B;
        border-right: 4px outset #CD888B;
    }
    
    #signs{
        width: 45px;
        height: 30px;
        font-size: 13px;
        font-family: f1;
        margin: 2px 1px 2px 1px;
        background-color: #E3859B;
        color: #FEF2F4;
        border-radius: 8px;
        border-bottom: 4px outset #CD888B;
        border-right: 4px outset #CD888B;
    }
}
@media only screen and (min-width: 768px){



    #calculator{
        width: 35%;
        align-content: center;
        /** alignment ng calcu**/
        margin: 5vw 44.5vw 5vw 21.5vw;
    }

    #calcuscreen{
        width: 98%;
        background-image: linear-gradient(to left, #FFD8DA, #FFD8DA, #FFD8DA, #FFE2E3, #FEF2F4 );
        padding: 5vw 0vw 5vw 0vw;
        border-right:  15px solid #d396a4;
        border-radius: 20% 20% 0% 0%;
        box-shadow: inset -24px -1px 40px -13px #DBB4B7;
    }
    
    #screen{
        background-color: #779A8C;
        border-top: 8px solid #C19D9D;
        border-left: 8px solid #C19D9D;
        border-right: 6px solid #FFDFE0;
        border-bottom: 6px solid #F6CFD2;
        width: 25vw;
        height: 7vw;
        border-radius: 10px 10px 10px 10px;
        font-size: 45px;
        font-family: f2;
        text-align: right;
    }

    #calcunum{
        width: 98%;
        border-right:  15px solid #d396a4;
        border-bottom:  15px solid #d396a4;
        background-image: linear-gradient(to left, #FFD8DA, #FFD8DA, #FFD8DA, #FFE2E3, #FEF2F4 );
        border-radius: 0% 0% 50% 50%;
        padding: 3vw 0vw 8vw 0vw;
        box-shadow: inset -24px -1px 40px -13px #DBB4B7;
    }

    #number{
        width: 50px;
        height: 30px;
        font-size: 15px;
        font-family: f1;
        background-image: linear-gradient(to right,#E7E6E0, #F6F2EF);
        border-radius: 10px;
        margin: 2px 2px 2px 2px;
        border-bottom: 4px outset #c6bbbc;
        border-right: 4px outset #c6bbbc;
    }

    #equal{
        width: 100px;
        height: 30px;
        font-size: 20px;
        font-family: f1;
        margin: 2px 2px 2px 2px;
        background-color: #fdd831;
        border-radius: 8px;
        border-bottom: 4px outset #CD888B;
        border-right: 4px outset #CD888B;
    }
    
    #signs{
        width: 50px;
        height: 30px;
        font-size: 15px;
        font-family: f1;
        margin: 2px 2px 2px 2px;
        background-color: #E3859B;
        color: #FEF2F4;
        border-radius: 8px;
        border-bottom: 4px outset #CD888B;
        border-right: 4px outset #CD888B;
    }
}


@media only screen and (min-width: 992px){


    #calculator{
        width: 35%;
        align-content: center;
        /** alignment ng calcu**/
        margin: 5vw 44.5vw 5vw 21.5vw;
    }

    #calcuscreen{
        width: 98%;
        background-image: linear-gradient(to left, #FFD8DA, #FFD8DA, #FFD8DA, #FFE2E3, #FEF2F4 );
        padding: 5vw 0vw 5vw 0vw;
        border-right:  15px solid #d396a4;
        border-radius: 20% 20% 0% 0%;
        box-shadow: inset -24px -1px 40px -13px #DBB4B7;
    }
    
    #screen{
        background-color: #779A8C;
        border-top: 8px solid #C19D9D;
        border-left: 8px solid #C19D9D;
        border-right: 6px solid #FFDFE0;
        border-bottom: 6px solid #F6CFD2;
        width: 25vw;
        height: 7vw;
        border-radius: 10px 10px 10px 10px;
        font-size: 45px;
        font-family: f2;
        text-align: right;
    }

    #calcunum{
        width: 98%;
        border-right:  15px solid #d396a4;
        border-bottom:  15px solid #d396a4;
        background-image: linear-gradient(to left, #FFD8DA, #FFD8DA, #FFD8DA, #FFE2E3, #FEF2F4 );
        border-radius: 0% 0% 50% 50%;
        padding: 3vw 0vw 8vw 0vw;
        box-shadow: inset -24px -1px 40px -13px #DBB4B7;
    }

    #number{
        width: 50px;
        height: 30px;
        font-size: 15px;
        font-family: f1;
        background-image: linear-gradient(to right,#E7E6E0, #F6F2EF);
        border-radius: 10px;
        margin: 2px 2px 2px 2px;
        border-bottom: 4px outset #c6bbbc;
        border-right: 4px outset #c6bbbc;
    }

    #equal{
        width: 100px;
        height: 30px;
        font-size: 20px;
        font-family: f1;
        margin: 2px 2px 2px 2px;
        background-color: #fdd831;
        border-radius: 8px;
        border-bottom: 4px outset #CD888B;
        border-right: 4px outset #CD888B;
    }
    
    #signs{
        width: 50px;
        height: 30px;
        font-size: 15px;
        font-family: f1;
        margin: 2px 2px 2px 2px;
        background-color: #E3859B;
        color: #FEF2F4;
        border-radius: 8px;
        border-bottom: 4px outset #CD888B;
        border-right: 4px outset #CD888B;
    }
}
@media only screen and (min-width: 1200px){


    #calculator{
        width: 35%;
        align-content: center;
        /** alignment ng calcu**/
        margin: 5vw 44.5vw 5vw 21.5vw;
    }

    #calcuscreen{
        width: 98%;
        background-image: linear-gradient(to left, #FFD8DA, #FFD8DA, #FFD8DA, #FFE2E3, #FEF2F4 );
        padding: 5vw 0vw 5vw 0vw;
        border-right:  15px solid #d396a4;
        border-radius: 20% 20% 0% 0%;
        box-shadow: inset -24px -1px 40px -13px #DBB4B7;
    }
    
    #screen{
        background-color: #779A8C;
        border-top: 8px solid #C19D9D;
        border-left: 8px solid #C19D9D;
        border-right: 6px solid #FFDFE0;
        border-bottom: 6px solid #F6CFD2;
        width: 25vw;
        height: 7vw;
        border-radius: 10px 10px 10px 10px;
        font-size: 80px;
        font-family: f2;
        text-align: right;
    }

    #calcunum{
        width: 98%;
        border-right:  15px solid #d396a4;
        border-bottom:  15px solid #d396a4;
        background-image: linear-gradient(to left, #FFD8DA, #FFD8DA, #FFD8DA, #FFE2E3, #FEF2F4 );
        border-radius: 0% 0% 50% 50%;
        padding: 3vw 0vw 8vw 0vw;
        box-shadow: inset -24px -1px 40px -13px #DBB4B7;
    }

    #number{
        width: 80px;
        height: 40px;
        font-size: 20px;
        font-family: f1;
        background-image: linear-gradient(to right,#E7E6E0, #F6F2EF);
        border-radius: 10px;
        margin: 2px 6px 2px 6px;
        border-bottom: 4px outset #c6bbbc;
        border-right: 4px outset #c6bbbc;
    }

    #equal{
        width: 180px;
        height: 40px;
        font-size: 20px;
        font-family: f1;
        margin: 2px 6px 2px 6px;
        background-color: #fdd831;
        border-radius: 8px;
        border-bottom: 4px outset #CD888B;
        border-right: 4px outset #CD888B;
    }

    #signs{
        width: 80px;
        height: 40px;
        font-size: 20px;
        font-family: f1;
        margin: 2px 6px 2px 6px;
        background-color: #E3859B;
        color: #FEF2F4;
        border-radius: 8px;
        border-bottom: 4px outset #CD888B;
        border-right: 4px outset #CD888B;
    }

}
